/* folha de estilização para o html */

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-area {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
}

button {
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: blue;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    max-width: 600px;
    flex-wrap: wrap;
}

li.completed span{
    text-decoration: line-through;
}

.action{
    display: flex;
    gap: 8px;
}

#mensagem{
    color: red;
    min-height: 20px;
}