nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 5vh;
  background-color: rgb(199, 96, 224);
}

nav a{
  text-decoration: none;
  color: rgb(60, 18, 99);
  font-size: 3.5vh;
}
