<h2>Lista de Currículos (Visão Empresa)</h2>

<a routerLink="/curriculos/novo">Novo Currículo</a>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Formação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of curriculos">
      <td>{{ c.nomeCompleto }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.formacao }}</td>
      <td>
        <button [routerLink]="['/curriculos/editar', c.id]">
          Editar
        </button>
        <button (click)="excluir(c.id!)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
